<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="hello" class="main.java.com.sayhello.SayHello">
        <property name="context" value="Hello My First Spring"/>
        <property name="people" value="姜剑锋"/>
    </bean>

    <bean id="hello1" class="main.java.com.sayhello.SayHello">
        <property name="people" value="钟小美"/>
        <property name="context" value="Hello My First Spring"/>
    </bean>

</beans>