<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--<bean id="helloBean" class="main.java.com.shiyanlou.demo.helloworld.HelloWorld">
        <property name="name" value="钟小美"/>
    </bean>

    <bean id="helloBean1" class="main.java.com.shiyanlou.demo.helloworld.HelloWorld">
        <property name="name" value="姜剑锋"/>
    </bean>-->
</beans>